* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 100px;
  padding-left: 20px;
  background-color: red;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 40px;
}

.titles {
  height: 100%;
}