* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 50px;
  display: flex;
}

section {
  width: 100vw;
  height: calc(100vh - 50px);
}

.btn-clean {
  border: unset;
  background: unset;
  outline: unset;
}

.btn-primary {
  background-color: #AD081B;
}
